/*
  font-family: 'aileron', sans-serif;
*/
@import url('https://use.typekit.net/myh4jux.css');

/*
  font-family: 'Open Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*
  font-family: 'Quicksand', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

/*
  font-family: 'Nunito Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
